/* COMMON */
* {
  box-sizing: border-box;
}

.inner {
  max-width: 1280px;
  margin: 0 auto;
}

:root {
  --white-color: #fff;
  --black-color: #101010;
  --light-black-color: #141517;
  --blue-color: #1e9eff;
  --light-grey-color: #f9f9f9;
  --medium-grey-color: #acacad;
  --dark-grey-color: #4b4b4c;
}

a {
  text-decoration: none;
  color: var(--black-color);
}

/* HEADER */
header {
  width: 100%;
  height: 140px;
  background-color: var(--blue-color);
}

header .inner {
  height: 140px;
  background-color: var(--blue-color);
}

.change-lang {}

.change-lang a {
  color: var(--white-color);
  display: flex;
  align-items: center;
  font-family: 'Manrope', sans-serif;
}

.change-lang a #language {
  font-size: 22px;
  font-weight: 100;
}

.change-lang a .eng-text {
  padding-left: 5px;
}

nav {}

nav .icon {}

nav .icon img {
  background-color: var(--white-color);
}